h1{
  padding: 10px;
  text-align: center;
  background-color: rgb(71, 110, 129);
}
header{
  padding-bottom: 20px;
}
button {
  
  background-color: rgb(71, 110, 129);
  

}

.forecast{display: flex ;}
.card{
  border: 4px solid rgb(100, 45, 11);
  padding: 20px;
  margin: 8px;
}






