h1{
  padding: 10px;
  text-align: center;
  background-color: rgb(71, 110, 129);
}
header{
  padding-bottom: 20px;
}
button {
  padding: 84:border;
  background-color: rgb(71, 110, 129);
  

}



}

 }
  
  
}
  





